body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}


.wrapper {
  height: 100vh;
}

.header {
  background-color: yellow;
}

.newEntry {
  background-color: lightgrey;
  height: 100%;
  min-height: 100%;
  padding-top : 20px;
}

.dashboard {
  background-color: pink;
  height: 100%;
  min-height: 100%;
}

#myDashHeader {
  background: red;
}

#ifFinished {
  margin : 10px;
}